@page
@if (!await Html.EnsureAuthenticatedAsync()) { return; }

@{
    ViewData["Title"] = "Contacts";
}
<script>window.Server=@Gateway.Send(new MetadataApp()).ToJson().AsRaw()</script>

<div class="mt-8 mx-auto max-w-fit">
    <h1 class="@Html.ClassNames(Css.H1, "my-8")">@ViewData["Title"]</h1>
    <div id="contacts"></div>
    <div class="mt-16 flex justify-center">
        @Html.SrcPage("Contacts.mjs")
    </div>
    <h4 class="mt-8 text-center text-xl">
        <a href="/ui/GetContacts" class="font-semibold text-indigo-600 dark:text-indigo-300 hover:text-indigo-500">Manage Contacts</a> in API Explorer
    </h4>
</div>

<script>contacts = @((await Gateway.SendAsync(new GetContacts())).Results.AsRawJson())</script>
<script type="module">
import Contacts from "/Pages/Contacts.mjs"
import { mount } from "/mjs/app.mjs"
mount("#contacts", Contacts, { contacts })
</script>
